body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-div {
  display: flex;
  justify-content: flex-end;
}
.aside1 {
  border-right: 2px solid red;
  height: 100vh;
  padding: 30px;
}
.box {
  margin-bottom: 30px;
}
.aside2 {
  /* border: 2px solid blue; */
  height: 100vh;
}

.formic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-group {
  width: 70%;
  margin-top: 10px;
}
.form-groups {
  margin-top: 65px;
}
.scroll {
  margin: 4px, 4px;
  padding: 4px;
  /* background-color: green; */
  width: 500px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
}
