body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-div {
  display: flex;
  justify-content: flex-end;
}
.aside1 {
  /* border: 2px solid red; */
  height: 100vh;
  padding: 30px;
}
.box {
  margin-bottom: 30px;
}
.aside2 {
  /* border: 2px solid blue; */
  height: 100vh;
}

.formic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-group {
  width: 70%;
  margin-top: 10px;
}
.form-groups {
  margin-top: 65px;
}
