/* ///////Design for Destop Screen------- */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
/*------- ASIDE-COMPONENT------- */
.aside1 {
  width: 30%;
  display: flex;
  justify-content: center;
  padding-top: 85px;
}

.aside1-main {
  width: 80%;
}
.aside-box {
  margin-bottom: 2rem;
}
.dropdownMenu {
  margin-bottom: 2rem;
}
.select-dropdown {
  width: 100%;
}

/* -----MAIN-CONTENT -------*/
.aside2 {
  width: 60%;
  display: flex;
  justify-content: center;
}

.aside2-main {
  width: 90%;
}
.main-inputBox {
  margin-bottom: 2rem;
}
.card-body .card-title,
.card-header h5,
.card-text {
  font-size: 1.1rem;
}

/* //=======meadia queries for screen 768px to 1200px-------- */
@media (min-width: 768px) and (max-width: 1200px) {
  .card-body .card-title,
  .card-header h5,
  .card-text {
    font-size: 1rem;
  }
}

/* //=======meadia queries for screen less than 768px -------- */
@media (max-width: 767px) {
  .card-body .card-title,
  .card-header h5,
  .card-text {
    font-size: 0.9rem;
  }
  .main-div {
    width: 100%;
    flex-direction: column;
  }
  .aside2 {
    width: 100%;
  }
  .aside1 {
    width: 100%;
  }
  .aside1-main {
    width: 60%;
  }
}
